extends layout

block content
  .row
    .large-12.columns
      p Search for courses by academic department:
  .row
    - var length = departments.length
    - var half_length = Math.ceil(length/2)
    .large-6.columns
      ul.no-bullet
        - for (var i = 0; i < half_length; i++)
          li.listing
            a(href=encodeURIComponent(departments[i].abbreviation.toLowerCase()))
              | #{departments[i].name}
              span (#{departments[i].abbreviation})
    .large-6.columns
      ul.no-bullet
        - for (var i = half_length; i < length; i++)
          li.listing
            a(href=encodeURIComponent(departments[i].abbreviation.toLowerCase()))
              | #{departments[i].name}
              span (#{departments[i].abbreviation})